{% extends 'index.html' %}

{% block title %}Login{% endblock %}


{% block content %}

<div class="container text-center w-25">
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label(class_="form-label") }}
                {{ field(class_="form-control") }}

                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}
        <div class="row">
            <!-- <div class="col-6"> -->
                <button class="btn btn-primary w-100">Login</button>

            <!-- </div> -->
        </div>
    </form>
    

</div>


{% endblock %}